<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user.name %>
</p>
<% @user.posts.each do |post| %>
  <div class="well">
    <article class="post-blog">
      <%= post.body %>
    </article>
  </div>
<% end %>

<%= link_to 'Back', users_path %>
